.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Questionbtn{
    font-size: 20px;
    padding:10px;
    border-color: black;
    background-color: blue;
    color:white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.Questionbtn:hover {
  background-color: rgb(61, 131, 243);
}
.title{
    font-size: 70px;
}
.questioncard{
    background-color:#FEC868;
}
.tagsInfo{
    background-color: blueviolet;

    
}

.qustnInfo{
    display: flex;
    align-items: center;
}

.view-question-btn{
    margin-right: 5px;
}

.author{
    margin-left: auto;
}
